---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import SocialShares from '@components/SocialShares.astro'
import SEOHead from '@components/seo/SEOHead.astro'
import { createEducationalSchema } from '@utils/seoHelpers.ts'

export async function getStaticPaths() {
  const { getCollection, render } = await import('astro:content');
  const posts = await getCollection('educational');
  
  return await Promise.all(posts.map(async (post) => {
    const { Content } = await render(post);
    return {
      params: { post: post.id },
      props: { post, Content },
    };
  }));
}

const { post, Content } = Astro.props;

const author = {
  name: 'Roulette Expert',
  image: '/posts/post-image-1.png',
  bio: 'Casino game strategy specialist',
}

const postUrl = `https://roulettesim.com/blog/${post.id}`;
const schema = createEducationalSchema(post.data, postUrl);
---

<DefaultLayout title={`${post.data.title} | Roulettesim.com`} description={post.data.description}>
  <SEOHead 
    title={`${post.data.title} | Roulettesim.com`}
    description={post.data.description}
    canonical={postUrl}
    openGraph={{
      title: post.data.title,
      description: post.data.description,
      image: post.data.featuredImage || 'https://roulettesim.com/social-preview-image.png',
      type: 'article'
    }}
    schema={schema}
  />
  
  <PageHeader
    title={post.data.title}
    subtitle={post.data.description}
    author={author}
    bgType="bordered"
    featuredImage={post.data.featuredImage}
  />
  <section class="my-12">
    <div class="narrow space-content container">
      <Content />
    </div>
  </section>
  <section class="my-12">
    <div class="narrow space-content container">
      <h2>Share this post</h2>
      <p>Like this post? Share it with your friends!</p>
      <SocialShares />
    </div>
  </section>
</DefaultLayout>
